@model CIMS2019.Models.CustomerExpectationDisplayModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h1>贷款意愿详细信息</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="background-color: lightcyan;">
            @Html.DisplayNameFor(model => model.CEID)
        </dt>
        <dd class="col-sm-10" style="background-color: lightcyan;">
            @Html.DisplayFor(model => model.CEID)
        </dd>
        <dt class="col-sm-2" style="background-color: lightcyan;">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10" style="background-color: lightcyan;">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2" style="background-color: lightcyan;">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-sm-10" style="background-color: lightcyan;">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-sm-2" style="background-color: lightcyan;">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10" style="background-color: lightcyan;">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2" style="background-color: lightcyan;">
            @Html.DisplayNameFor(model => model.CustomerCreatedOn)
        </dt>
        <dd class="col-sm-10" style="background-color: lightcyan;">
            @Html.DisplayFor(model => model.CustomerCreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedLoanAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedLoanAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedLoanTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedLoanTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingAddress)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>



        @if (Model.customerType == CIMS2019.Models.Enum.CustomerType.上班)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalaryAfterTax)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalaryAfterTax)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HavingSIHF)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HavingSIHF)
            </dd>
            if (Model.HavingSIHF)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SocialInsuranceBase)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SocialInsuranceBase)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.HousingFundBase)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HousingFundBase)
                </dd>
            }
        }
        else if (Model.customerType == CIMS2019.Models.Enum.CustomerType.自雇)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualTurnover)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualTurnover)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualVATInvoiceAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualVATInvoiceAmount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualTaxAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualTaxAmount)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HavingCreditCardCarLoan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HavingCreditCardCarLoan)
        </dd>
        @if (Model.HavingCreditCardCarLoan)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CCLMonthlyAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CCLMonthlyAmount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumberOfRepaymentsCC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfRepaymentsCC)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HavingRealEstate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HavingRealEstate)
        </dd>
        @if (Model.HavingRealEstate)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RealEstateAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RealEstateAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.realEstateLoanType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.realEstateLoanType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.realEstatePropertyNature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.realEstatePropertyNature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ConstructionArea)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ConstructionArea)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RealEstateValue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RealEstateValue)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MonthlyPayment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MonthlyPayment)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumberOfRepayments)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumberOfRepayments)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HavingLifeInsurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HavingLifeInsurance)
        </dd>
        @if (Model.HavingLifeInsurance)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LifeInsuranceCompany0)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LifeInsuranceCompany0)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualPremium0)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualPremium0)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EarliestEffectiveTime0)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EarliestEffectiveTime0)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LifeInsuranceCompany1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LifeInsuranceCompany1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualPremium1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualPremium1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EarliestEffectiveTime1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EarliestEffectiveTime1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LifeInsuranceCompany2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LifeInsuranceCompany2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnnualPremium2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnnualPremium2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EarliestEffectiveTime2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EarliestEffectiveTime2)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
